.header {
    color: #fff;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1rem auto;
    height: 10rem;
}

.grid-2-reverse {
    display: grid;
    grid-template-columns: auto 1rem;
    height: 10rem;
    text-align: right;
    margin: 5rem 0;
}

.grid-2-reverse :first-child {
    justify-self: end;
}

.grid-3 {
    z-index: 2;
    display: grid;
    position: sticky;
    top: 0;
    grid-template-columns: auto 1rem auto;
    font-size: 3rem;
    height: 10rem;
}

.grid-3 :first-child {
    animation: moveDown 1s ease-out forwards;
    justify-self: end;
}

.grid-3 :nth-child(3) {
    align-self: flex-end;
    animation: moveUp 2s ease-out forwards;
}

.white-border {
    background-color: #fff;
    height: 70%;
    width: 0.5px;
    margin: 1.5rem 0.5rem;
}

.slide-down {
    justify-self: end;
    animation: slideDown 1s ease-out forwards;
}

.slide-right {
    padding: 0.8rem 0;
    animation: slideRight 1.5s ease-out forwards;
}

.slide-left {
    padding: 0.8rem 0.3rem;
    margin-right: -50rem;
    animation: slideLeft 1s ease-out forwards 1s;
}

.slide-up {
    margin-top: 30rem;
    animation: slideUp 0.5s ease-out forwards 1s;
}

.fade-out {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 0.8) 70%,
        rgba(0, 0, 0, 0)
    );
}
