* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #000;
    overflow-x: hidden;
}

.App {
    color: #fff;
}

.container {
    color: #fff;
    background: linear-gradient(to bottom, transparent, #fff);
    height: 50rem;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.footer {
    background-color: #000;
    height: 10rem;
}
